.circle-check{
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
  outline: none;
}

.circle-check:checked{
  background-color: gray;
}

.todo-menu-item{
  position: relative;
  margin-right: 15px;
  font-size: 24px;
}

.red-number{
  position: absolute;
  right: -10px;
  top: 10px;
  background-color: #fa3e3e;
  border-radius: 2px;
  color: #fff;
  padding: 1px 3px;
  font-size: 16px;
  line-height: 16px;
}